@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Remove internal border of Ant Design Select */
.no-border-select .ant-select-selector {
  border: none !important;   /* Removes the outer border */
  box-shadow: none !important; /* Removes any box shadow */
}

/* Optional: Remove focus border too */
.no-border-select .ant-select-focused .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

/* Optional: Remove the dropdown arrow border */
.no-border-select .ant-select-arrow {
  border: none !important;
}

:root {
  --font-exo-2: "Exo 2", sans-serif;
}

body {
  font-family: var(--font-exo-2);
}

h1,
h2 {
  font-family: var(--font-exo-2);
}
